/* animations.css */

.kangaroo-burst-animation {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url('/public/kangaroo.png'); /* Replace with your kangaroo image */
  background-size: contain;
  animation: burst 2s ease-in-out forwards;
  transform-origin: top right;
  pointer-events: 'none';
}

@keyframes burst {
  0% {
    transform: translateY(0) translateX(0); /* Start position */
    opacity: 1;
  }
  25% {
    transform: translateY(-50px) translateX(30px); /* Move up and to the right */
  }
  50% {
    transform: translateY(-100px) translateX(0); /* Peak of the jump, move straight up */
  }
  75% {
    transform: translateY(-50px) translateX(-30px); /* Move down and to the right */
  }
  100% {
    transform: translateY(-30px) translateX(-40px); /* Return to start position */
  }
}

.outlined-text {
  color: transparent;
  -webkit-text-stroke: 1px white;
  transition: color 0.1s ease-in-out, -webkit-text-stroke 0.5s ease-in-out;
}

.outlined-text:hover {
  color: white;
}

.code-burst-animation {
  position: absolute;
  animation: codeFlow 1s linear forwards;
}

@keyframes codeFlow {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-100px);
    opacity: 0;
  }
}
.excavator-animation {
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url('/path-to-excavator.png'); /* Replace with your excavator image */
  background-size: contain;
  animation: moveIn 1.5s ease-in-out forwards;
}

@keyframes moveIn {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.custom-cursor {
  position: fixed;
  /* width: 20px;
  height: 20px; */
  padding: 0.3rem;
  border: 2px solid #137fb8;
  border-radius: 50%;
  background-color: rgba(49, 211, 236, 0.3);
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, -80%);
  transition: transform 0.5s ease-out;
}

.hovering-link {
  width: 40px;
  height: 40px;
  background-color: transparent;
  transform: translate(-50%, -50%) scale(1.0);
}
